/* Estilização geral */
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;600;800&display=swap');

*{
    margin: 0;
    padding: 0;
    --cordarkmode:  #232c35;
}

body{
    display: flex;
    font-family: 'Karla', sans-serif;
    border: 5px solid black;
    justify-content: center;
    background-color: #fafafa;
    transition: background 0.2s linear;
    height: 100dvh;
}

body h1{
    font-size: 40px;
    text-align: center;
    font-weight: 800;
}

body p{
    font-size: 16px;
    font-weight: 400;
}

body.dark {
    background: var(--cordarkmode); 
}

header{
    display: flex;
    justify-content: space-between;
}

header .timer{
    display: flex;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1080px;
}

section{
    border: 5px solid rgb(224, 7, 7);
    display:flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    
}

[hidden]{
    display:none; /*Flexbox impede que "hidden" funcione*/
                /*Portanto, não pode haver display: flex no #home, #quiz e #result*/
}

.hidden {
    display: none;
}

/* Estilização Home Quiz */

#home{
    /*display:flex;*/
    flex-direction: column;
    justify-content: center;
    /* border: 5px solid black; */
}


.card{
    border: 1px solid rgb(160, 160, 160);
    border-radius: 8px;
    background-color: rgba(218, 218, 218, 0.205);
    padding: 40px 20px 40px 20px ;
    border: 1px solid black;
}

.card h1{
    margin: 10px 10px 20px 10px;
    /* border: 1px solid black; */
}

.card p {
    margin-bottom: 10px;
    font-weight: 500;
    /* border: 1px solid black; */
}

.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario label{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 8px;
    
}
.formulario input, select{
    padding: 10px 0 10px ;
    width: 80%;
    margin-bottom: 10px;
    text-align: center;
}

.formulario select, option{
    padding: 10px 0 10px 0;
    width: 80%;
    margin-bottom: 10px;
    text-align: center;
}

.formulario button{
    font-weight: 600;
    font-size: 16px;
    margin: 20px 0 20px 0;
    padding: 10px 0 10px 0;
    width: 80%;
    background-color: rgb(134, 134, 134);
}

/*Estilização botao switch   */
.switch-wrapper{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    padding: 0;
    margin: 0;
}
.switch-wrapper input{
    opacity: 0;
    width: 0;
    height: 0;
}

.switch{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    border-radius: 34px;
}

.switch::before{
    display: flex;
    position: absolute;
    top: 2px;
    left: 2px;
    background-color: white;
    height: 30px;
    width: 30px;
    content: "";
    border-radius: 50%;
    transition: 0.2s;
}

.switch-wrapper input:checked + .switch::before{
    background-color: #f1c40f;
    left: 28px;
}

.bi-moon-fill {
    color: #f1c40f;
}

.bi-sun-fill {
    color: #f1c40f;
}
